


<div class="conatiner border border-3 p-4 shadow rounded">
    <h5>Transaction List</h5>
    <div *ngFor="let t of transactions" class="border rounded-pill px-3 d-flex gap-3 mt-2">
            <div class="mt-1">
                {{t.title}}   
            </div>
            <div class="mt-1">
                {{t.category}}
            </div>
            <div class="mt-1">
                {{t.amount}}
            </div>
            <div class="d-flex ms-auto">
                <a href="" [routerLink]="['transactions',t.id]" class="mt-2"><i class="fa-regular fa-eye"></i></a>
                <button (click)="editTransaction(t.id)" class="btn btn-link"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-link" (click)="destroyTransaction(t.id)"><i class="fa-solid fa-trash"></i></button>
            </div>
    </div>
</div> 