
<div class="container" >
    <div class=" d-flex justify-content-center gap-4">
        <div class="border border-2 p-3 alert alert-success shadow">
            <h3 class="fw-bolder">Total Income : {{totalIncome}} </h3> 
        </div>
        <div class="border border-2 p-3 alert alert-danger shadow">
            <h3 class="fw-bolder"> Total Expense : {{totalExpense}}</h3> 
        </div>
    </div>
    <div class="d-flex justify-content-evenly my-3" >
        <div class="alert alert-dark p-3 shadow" *ngFor="let cat of summary ">
            {{cat.category}}: {{cat.total}}
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <canvas id="myChart">
                
            </canvas>
        </div>
        <div class="col-4"></div>
    </div>
</div>  