<div class="container">
    <form [formGroup]="transactionForm" (ngSubmit)="addTransaction()" action="" class="border p-4 border-3 shadow rounded">
        <h5 class="fw-bolder" >{{title}}</h5>
        <div class="mb-3">
            <label for="">enter transaction title</label>
            <input type="text" placeholder="enter title" class="form-control" formControlName="title">
        </div>
        <div class="mb-3 d-flex gap-2">
            <div class="w-100">
                <label for="">Select Transaction Type</label>
                <select name="" id="" class="form-control form-select" formControlName="type">
                    <option value="expenses">expenses</option>
                    <option value="income">income</option>
                </select>
            </div> 
            <div class="w-100">
                <label for="">Select Category </label>
                <select name="" id="" class="form-control form-select" formControlName="category">
                   <option value="{{cat}}" *ngFor="let cat of categories">{{cat}}</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="">Enter amount</label>
            <input type="text" placeholder="enter amount" class="form-control" formControlName="amount">
        </div>
        <div class="mb-3">
            <button type="submit" [hidden]="isEdit" class="border border-dark border-2">Add</button>
            <button type="submit"  [hidden]="!isEdit" class="border border-dark border-2">Edit</button>
        </div>


    </form>
</div>